{#----------------------------------------------------------------------------#}
{#- Read properties if there is a cell tagged `parameters`                   -#}
{#----------------------------------------------------------------------------#}

{#- Default parameters for the dashboard -#}
{%- set default_title = nb.metadata.get("title", "") or resources["metadata"]["name"] -%}
{%- set kernel_display_name = nb.metadata.get("kernelspec", {}).get("display_name", "") -%}
{%- set props = {"title": default_title, "kernel_name": kernel_display_name, "include_source": resources.global_content_filter.include_input} -%}

{#- Iterate notebook cells -#}
{#- We only look at props prefixed with `flex_` -#}
{%- for cell in nb.cells -%}
    {%- set tags = cell.metadata.get("tags", []) -%}
    {%- if "parameters" in tags -%}
        {%- for line in cell["source"].split("\n") -%}
            {%- if line | trim | length -%}
                {%- if line.startswith("flex_") -%}
                    {%- if line.split("=") | length == 2 -%}
                        {%- set key = line.split("=")[0] | trim  -%}
                        {#- remove prefix: -#}
                        {%- set key = key["flex_" | length:]  -%}
                        {%- set value = line.split("=")[1] | replace("\\\"", "|?|") | replace("\"", " ") | replace("|?|", "\"") | trim -%}
                        {%- set _ = props.update({key: value})  -%}
                    {%- endif -%}
                {%- endif -%}
            {%- endif -%}
        {%- endfor -%}
        {%- break -%}
    {%- endif -%}
{%- endfor -%}

{%- set _ = props.update({"include_source": props.include_source == "True"}) -%}

{%- macro get_props() -%}
{{ props }}
{%- endmacro -%}

{%- macro get_title() -%}
{{ props.get("title", "Jupyter-flex dashboard") }}
{%- endmacro -%}

{%- macro get_favicon() -%}
{{ props.get("favicon", "") }}
{%- endmacro -%}

{%- macro get_custom_css() -%}
{{ props.get("custom_css", "") }}
{%- endmacro -%}

{%- macro find_item_startswith(list, prefix, default="") -%}
{# Iterate list and print the first value that starts with a prefix #}
{%- for item in list -%}
    {%- if item.startswith(prefix) -%}
        {{ item }}
        {%- break -%}
    {%- endif -%}
{%- endfor -%}
{{ default }}
{%- endmacro -%}

{%- macro startswith_remove_prefix(text, prefix) -%}
{# Print text if it starts with prefix (removes the prefix) #}
{%- if text.startswith(prefix) -%}
{{ text[prefix | length:] | trim }}
{%- endif -%}
{%- endmacro -%}

{%- macro join_all_items_with_prefix(list, prefix, join_char=" ") -%}
{# Print joined text with all items that startswith a prefix #}
{%- set matches = [] -%}
{%- for item in list -%}
    {%- set has_prefix = startswith_remove_prefix(item, "class=") -%}
    {%- if has_prefix | length -%}
        {%- set _ = matches.append(has_prefix) -%}
    {%- endif -%}
{%- endfor -%}
{{ matches | join(join_char) }}
{%- endmacro -%}}

{#----------------------------------------------------------------------------#}
{#- Creates a dashboard structure variable by iterating the notebook cells   -#}
{#----------------------------------------------------------------------------#}
{%- macro make_dashboard(nb, resources) -%}
    {%- set dashboard = {} -%}
    {%- set _ = dashboard.update({"props": props, "meta": [], "pages": [] }) -%}

    {#- Create default variables -#}
    {%- set vars = {} -%}
    {%- set _ = vars.update({"current_page": {} }) -%}
    {%- set _ = vars.update({"current_section": {} }) -%}
    {%- set _ = vars.update({"current_card": {} }) -%}

    {%- for cell in nb.cells -%}
        {%- set cell_type = cell["cell_type"] -%}
        {%- set cell_source = cell["source"] -%}
        {%- set cell_tags = cell.get("metadata", {}).get("tags", []) -%}

        {%- if cell_type == "markdown" -%}

            {#- Tagged cells have priority -#}
            {%- set is_body = find_item_startswith(cell_tags, "body") -%}
            {%- set is_footer = find_item_startswith(cell_tags, "footer") -%}
            {%- set is_help = find_item_startswith(cell_tags, "help") -%}

            {%- if is_body or is_footer or is_help -%}
                {#- Create `current_*` objects if notebook started with a tagged cell -#}
                {%- if not vars.current_page -%}
                    {%- set _ = vars.update({"current_page": {"title": "", "sections": [] } }) -%}
                {%- endif -%}
                {%- if not vars.current_section -%}
                    {%- set _ = vars.update({"current_section": {"title": "", "cards": [], "tags": []}}) -%}
                {%- endif -%}
                {%- if not vars.current_card -%}
                    {%- set _ = vars.update({"current_card": {"header": "", "body": [], "footer": [], "help": [], "tags": []}}) -%}
                {%- endif -%}
            {%- endif -%}

            {%- if is_body -%}
                {%- set _ = vars.current_card.body.append(cell) -%}
                {%- continue -%}
            {%- endif -%}

            {%- if is_footer -%}
                {%- set _ = vars.current_card.footer.append(cell) -%}
                {%- continue -%}
            {%- endif -%}

            {%- if is_help -%}
                {%- set _ = vars.current_card.help.append(cell) -%}
                {%- continue -%}
            {%- endif -%}

            {#- If markdown cell is not tagged use it for layout structure -#}

            {%- set h1_title = startswith_remove_prefix(cell_source, "# ") -%}
            {%- if h1_title -%}
                {#- Add the current card to the current section -#}
                {%- if vars.current_card -%}
                    {%- set _ = vars.current_section["cards"].append(vars.current_card) -%}
                {%- endif -%}

                {#- Add current section to page -#}
                {%- if vars.current_section and vars.current_section -%}
                    {%- set _ = vars.current_page["sections"].append(vars.current_section) -%}
                {%- endif -%}

                {#- Add current page to dashboard before defining a new one -#}
                {%- if vars.current_page and vars.current_page.sections -%}
                    {%- set _ = dashboard["pages"].append(vars.current_page) -%}
                {%- endif -%}

                {#- Create new Page: Define all new `current_*` objects -#}
                {%- set _ = vars.update({"current_page": {"title": h1_title, "sections": [], "tags": cell_tags } }) -%}
                {%- set _ = vars.update({"current_section": {} }) -%}
                {%- set _ = vars.update({"current_card": {} }) -%}
            {%- endif -%}

            {%- set h2_title = startswith_remove_prefix(cell_source, "## ") -%}
            {%- if h2_title -%}
                {#- When the notebook starts with h2, create first page -#}
                {%- if not vars.current_page -%}
                    {%- set _ = vars.update({"current_page": {"title": "", "sections": [], "tags": [] } }) -%}
                {%- endif -%}

                {#- Add the current card to the current section -#}
                {%- if vars.current_card -%}
                    {%- set _ = vars.current_section["cards"].append(vars.current_card) -%}
                    {%- set _ = vars.update({"current_card": {} }) -%}
                {%- endif -%}

                {#- Add current section to page -#}
                {%- if vars.current_section -%}
                    {%- set _ = vars.current_page["sections"].append(vars.current_section) -%}
                {%- endif -%}

                {#- Create new section -#}
                {%- set _ = vars.update({"current_section": {"title": h2_title, "cards": [], "tags": cell_tags}}) -%}
                {%- set _ = vars.update({"current_card": {} }) -%}
            {%- endif -%}

            {%- set h3_title = startswith_remove_prefix(cell_source, "### ") -%}
            {%- if h3_title -%}
                {#- If there is no h1 or h2 (notebook starts with h3) -#}
                {%- if not vars.current_page -%}
                    {%- set _ = vars.update({"current_page": {"title": "", "sections": [], "tags": [] } }) -%}
                {%- endif -%}
                {%- if not vars.current_section -%}
                    {%- set _ = vars.update({"current_section": {"title": "", "cards": [], "tags": []} }) -%}
                {%- endif -%}

                {#- If there is a card we add it to the section -#}
                {%- if vars.current_card -%}
                    {%- set _ = vars.current_section["cards"].append(vars.current_card) -%}
                {%- endif -%}

                {#- Create current_card with values from this cell -#}
                {%- set _ = vars.update({"current_card": {"header": h3_title, "body": [], "footer": [], "help": [], "tags": cell_tags}}) -%}
            {%- endif -%}

        {%- elif cell_type == "code" -%}
            {# Remove source #}
            {%- if not props.include_source -%}
                {%- set _ = cell.pop("source") -%}
            {%- endif -%}

            {%- set is_meta = find_item_startswith(cell_tags, "meta") -%}
            {%- set is_body = find_item_startswith(cell_tags, "body") -%}
            {%- set is_source = find_item_startswith(cell_tags, "source") -%}
            {%- set is_help = find_item_startswith(cell_tags, "help") -%}
            {%- set is_footer = find_item_startswith(cell_tags, "footer") -%}

            {%- if is_body -%}
                {#- Create current_* objects if notebook starts with a tagged cell -#}
                {%- if not vars.current_page -%}
                    {%- set _ = vars.update({"current_page": {"title": "", "sections": [] } }) -%}
                {%- endif -%}
                {%- if not vars.current_section -%}
                    {%- set _ = vars.update({"current_section": {"title": "", "cards": [], "tags": []}}) -%}
                {%- endif -%}
                {%- if not vars.current_card -%}
                    {%- set _ = vars.update({"current_card": {"header": "", "body": [], "footer": [], "help": [], "tags": []}}) -%}
                {%- endif -%}

                {%- set _ = vars.current_card.body.append(cell) -%}
            {%- endif -%}

            {%- if is_source -%}
                {#- Create current_* objects if notebook starts with a tagged cell -#}
                {%- if not vars.current_page -%}
                    {%- set _ = vars.update({"current_page": {"title": "", "sections": [] } }) -%}
                {%- endif -%}
                {%- if not vars.current_section -%}
                    {%- set _ = vars.update({"current_section": {"title": "", "cards": [], "tags": []}}) -%}
                {%- endif -%}
                {%- if not vars.current_card -%}
                    {%- set _ = vars.update({"current_card": {"header": "", "body": [], "footer": [], "help": [], "tags": []}}) -%}
                {%- endif -%}

                {#- We just want to include the souce for this cell, remove the outputs -#}
                {%- set _ = cell.pop("outputs") -%}
                {%- set _ = vars.current_card.body.append(cell) -%}
            {%- endif -%}

            {%- if is_help -%}
                {%- set _ = vars.current_card.help.append(cell) -%}
                {%- continue -%}
            {%- endif -%}

            {%- if is_footer -%}
                {%- set _ = vars.current_card.footer.append(cell) -%}
                {%- continue -%}
            {%- endif -%}

            {%- if is_meta -%}
                {#- Metadata cells dont create section or pages -#}
                {%- set _ = dashboard.meta.append(cell) -%}
                {%- continue -%}
            {%- endif -%}
        {%- endif -%}

    {%- endfor -%}

    {#- Add final components to the parents -#}
    {%- set _ = vars.current_section["cards"].append(vars.current_card) -%}
    {%- set _ = vars.current_page["sections"].append(vars.current_section) -%}
    {%- set _ = dashboard["pages"].append(vars.current_page) -%}

    {{ dashboard | tojson }}
{%- endmacro -%}
