include versioneer.py
include README.md
include LICENSE.txt
include CHANGELOG.md
include requirements.package.txt
include jupyter_flex/nbconvert_templates/*
include jupyter_flex/static/*
include jupyter_flex/templates/*
