# This is used by Netlify and should match environment.yml
# Package dev
notebook
jupyterlab
nbconvert
voila
ipywidgets
jupyter-flex
versioneer
twine
libsass
pytest
pytest-html
pytest-base-url
pytest-selenium
pytest-needle
# Docs
mkdocs
mkdocs-material
mkdocs-jupyter
mkdocs-minify-plugin
pygments
pymdown-extensions
# Examples deps
numpy
pandas
scipy
matplotlib
scikit-learn
statsmodels
altair
plotly
bqplot
bokeh
jupyter_bokeh
qgrid
ipyleaflet
pandas-datareader
colorlover
vega_datasets
