# This is used by Netlify and should match environment.yml
numpy
pandas
scipy
matplotlib
scikit-learn
statsmodels
# Package dev
notebook
jupyterlab
nbconvert
voila
ipywidgets
versioneer
twine
jupyter-flex
# Docs
mkdocs
mkdocs-material
mkdocs-jupyter
mkdocs-minify-plugin
libsass
pygments
pymdown-extensions
# Used by examples
altair
plotly
bqplot
bokeh
jupyter_bokeh
qgrid
pandas-datareader
colorlover
vega_datasets
