# Requirements for netlify build
nbconvert
ipywidgets
jupyter-flex
libsass
mkdocs
mkdocs-material
mkdocs-jupyter
pymdown-extensions
pygments
# Used by examples
pandas
matplotlib
plotly
bokeh
bqplot
pandas-datareader
scikit-learn
colorlover
