{%- macro startswith_and_strip(text, prefix) -%}
{# Print text if it starts with prefix (removes the prefix) #}
{%- if text.startswith(prefix) -%}
    {{ text[prefix | length:] | trim }}
{%- endif -%}
{%- endmacro -%}

{%- macro join_all_items_with_prefix(list, prefix, join_char=" ") -%}
{# Print joined text with all items that startswith a prefix #}
{%- set matches = [] -%}
{%- for item in list -%}
    {%- set has_prefix = startswith_and_strip(item, "class=") -%}
    {%- if has_prefix | length -%}
        {% set _ = matches.append(has_prefix) -%}
    {%- endif -%}
{%- endfor -%}
{{ matches | join(join_char) }}
{%- endmacro -%}}

{%- macro find_item_startswith(list, prefx, default="") -%}
{# Iterate list and print if one value starts with the target characters #}
{%- for item in list -%}
    {%- if item.startswith(prefx) -%}
        {{ item }}
        {%- break -%}
    {%- endif -%}
{%- endfor -%}
{{ default }}
{%- endmacro -%}
