.navbar {
    background-color: yellow !important;
}

.sidebar {
    background-color: #DDD;
}

.dashboard {
    background-color: red;
}

.page {
    background-color: yellow;
}

.section {
    background-color: green;
}

.card {
    background-color: yellow;
}
