.card {
    background-color: #F9C850;
}

.yellow {
    background-color: #F9C850;
}

.green {
    background-color: #10C469;
}

.red {
    background-color: #FF5C5A;
}

.purple {
    background-color: #727CF5;
}
