.loading-full {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;

    .spinner-grow {
        width: 1rem;
        height: 1rem;
    }

    .text-center {
        width: 100%;
        max-width: 720px;
        padding: 15px;
        margin: auto;
        text-align: center;

        p {
            margin: 1rem 0;
        }
    }
}

.error-full {
    max-width: 720px;

    h1 {
        font-size: 2rem;
    }

    .center {
        width: 100%;
        max-width: 720px;
        padding: 15px;
        margin: auto;
        text-align: center;
    }
}
