.jupyter-flex {
    @import "variables.scss";
    @import "card.scss";
    @import "dashboard.scss";
    @import "modal.scss";
    @import "navbar.scss";
    @import "nbcell.scss";
    @import "page.scss";
    @import "section.scss";
    @import "sidebar.scss";

    background-color: $body-bg;
    color: #333;
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
}

.jupyter-flex-page {
    background-color: #f0f2f6;
    color: #333;

    @import "voila.scss";
}
