@import "../variables.scss";

.global-sidebar {
    background-color: $dark-bg !important;
    color: #fff;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    padding: 48px 0 0;

    .section {
        width: 100%;
        height: 100%;
        padding: 0 1.25rem 1.25rem;

        .card {
            background-color: transparent;
            color: #fff;
        }

        .card-header {
            background-color: $dark-bg !important;
            padding-left: 0;
            padding-right: 0;

            h6 {
                color: #fff;
            }
        }

        .card-body {
            padding: 0;
            flex: 1 1 0;

            a {
                color: #fff;
                text-decoration: underline;

                &:hover {
                    text-decoration: underline;
                }
            }

            pre {
                color: #fff;
            }
        }

        .output_widget_view,
        .jupyter-widgets,
        .widget-label,
        .widget-readout,
        .widget-label-basic {
            // NBConvert and voila end up with different structure so we use both
            color: #fff;

            button {
                color: #000;
            }

            input {
                line-height: normal;
            }
        }
    }
}
