# Python CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-python/ for more details
#
version: 2

jobs:
  build:
    docker:
      - image: circleci/python:3.7.6-browsers

    working_directory: ~/repo

    steps:
      - checkout

      ####################### Setup

      - restore_cache:
          keys:
          - v1-deps-{{ checksum "environment.yml" }}
          - v1-deps

      - run:
          name: install miniconda
          command: |
            if [[ ! -d "~/conda" ]]
            then
              cd $HOME
              wget https://repo.continuum.io/miniconda/Miniconda3-latest-Linux-x86_64.sh -O ~/miniconda.sh
              chmod +x ~/miniconda.sh && bash ~/miniconda.sh -b -p ~/conda
            fi

      - run:
          name: create env
          command: |
            .  ~/conda/etc/profile.d/conda.sh
            conda env create
            conda activate jupyter-flex
            python --version
            pip freeze

      - save_cache:
          key: v1-deps-{{ checksum "environment.yml" }}
          paths:
            - ~/conda

      ####################### Tests

      - run:
          name: install package
          command: |
            .  ~/conda/etc/profile.d/conda.sh
            conda activate jupyter-flex
            python setup.py install

      - run:
          name: start Voila
          command: |
            .  ~/conda/etc/profile.d/conda.sh
            conda activate jupyter-flex
            make serve-voila
          background: true

      - run:
          name: run tests
          command: |
            .  ~/conda/etc/profile.d/conda.sh
            conda activate jupyter-flex
            make test

      - store_test_results:
          path: test-results

      - store_artifacts:
          path: test-results
