{% extends 'nbconvert/templates/flex/index.html.j2' %}

{% block html_head_js -%}
    {{ resources.include_js("static/dist/jquery.slim.min.js") }}
    {{ resources.include_js("static/dist/bootstrap.min.js") }}
    {% block html_head_js_requirejs -%}
    {{- super() -}}
	<script>
	    requirejs.config({ baseUrl: '{{resources.base_url}}voila/static/', waitSeconds: 30})
	</script>
    {%- endblock html_head_js_requirejs -%}
{%- endblock html_head_js %}

{%- block flex_custom_css %}
	{%- set custom_css = flex.get_custom_css() -%}
	{%- if custom_css | trim | length -%}
	<link href="{{ resources.base_url }}voila/files/{{ custom_css }}" rel="stylesheet">
	{%- endif -%}
    {%- set custom_favicon = flex.get_favicon() -%}
    {%- if custom_favicon | trim | length -%}
    <link rel="shortcut icon" type="image/ico" href="{{ resources.base_url }}voila/files/{{ custom_favicon }}" />
    {%- else -%}
    <link rel="shortcut icon" type="image/ico" href="{{ resources.base_url }}voila/static/favicon.png" />
    {%- endif -%}
{%- endblock flex_custom_css %}