<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Voila{% endblock %}</title>
        <link rel="shortcut icon" type="image/ico" href="/voila/static/favicon.png" />

        {% block html_head_css %}
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet"/>
        <link href="{{ base_url }}voila/static/dist/FlexRenderer.css" rel="stylesheet"/>
        {% endblock html_head_css %}
    </head>

    <body data-base-url="{{ base_url }}voila/">
        <noscript>
            <div class="text-center">
                <h1>
                    {% trans %}
                    Voila requires JavaScript.<br />
                    Please enable it to proceed.
                    {% endtrans %}
                </h1>
                <style>
                    .page {
                        display: none;
                    }
                </style>
            </div>
        </noscript>

        <div class="page">
        {% block body %} {% endblock %}
        </div>

        {% block scripts %} {% endblock %}
    </body>
</html>
