{%- import "flex.j2" as flex with context -%}

{%- block header -%}
<html>
<head>
{%- block html_head %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    {%- block favicon %}
    {%- endblock favicon %}
    {% block html_head_title -%}
    <title>{{ flex.get_title() }}</title>
    {%- endblock html_head_title %}

    {% block html_head_css -%}
    {%- block flex_embed_css -%}
    {%- if dev_mode %}
    <link rel="stylesheet" type="text/css" href="http://localhost:8866/voila/static/dist/jupyter-flex-embed.css" />
    {%- else %}
    {{ resources.include_css("static/dist/jupyter-flex-embed.css") }}
    {%- endif -%}
    {%- endblock flex_embed_css -%}

    {%- block flex_custom_css -%}
    {%- set custom_css = flex.get_custom_css() -%}
    {%- if custom_css | trim | length %}
    <style>{{ resources.include_external_file(custom_css) }}</style>
    {%- endif -%}
	{%- endblock flex_custom_css -%}
    {%- endblock html_head_css -%}

    {%- block html_head_js -%}
    {%- endblock html_head_js %}
{%- endblock html_head %}
</head>
{%- endblock header %}

{%- block body %}
<body class="jupyter-flex-page">

	{%- block body_before_flex -%}
	{% endblock body_before_flex %}

    <div id="jupyter-flex-root">
        <div class="loading-notebook">
            <div class="text-center">
                <p>... building dashboard ...</p>
            </div>
        </div>
    </div>

    {% block dashboard_data -%}
    <script id="jupyter-flex-dashboard" type="application/json">
    {{ flex.get_dashboard() }}
    </script>
    {%- endblock dashboard_data -%}

    {%- set mimetype = 'application/vnd.jupyter.widget-state+json' -%}
    {%- if mimetype in nb.metadata.get("widgets",{}) %}
    <script type="{{ mimetype }}">
    {{ nb.metadata.widgets[mimetype] | json_dumps }}
    </script>
    {%- endif %}

    {%- set mimetype = "application/vnd.illusionist.widget-onchange+json" -%}
    {%- if mimetype in nb.metadata.get("widgets", {}) %}
    <script type="{{ mimetype }}">
    {{ nb.metadata.widgets[mimetype] | json_dumps }}
    </script>
    {%- endif %}

    {% block body_end_js -%}
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

    {%- block body_end_js_requirejs %}
    <script src="{{ resources.require_js_url }}"></script>
    {%- endblock body_end_js_requirejs -%}

    {%- if dev_mode %}
    <script src="http://localhost:8866/voila/static/dist/jupyter-flex-embed.js"></script>
    {%- else -%}
    {{ resources.include_js("./static/dist/jupyter-flex-embed.js") }}
    {%- endif %}
    {%- endblock body_end_js %}
</body>
{%- endblock body %}

{% block footer -%}
{%- endblock footer %}
