@import "../variables.scss";

body {
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 1.5;
    color: #333;
    text-align: left;
    background-color: #f0f2f6;
}

#dashboard {
    .content-wrapper {
        padding: 0;
    }
}

#dashboard.fill {
    .content-wrapper {
        height: calc(100% - 51px);
        max-height: calc(100% - 51px);
        padding: 0;

        .page {
            height: 100%;
            max-height: 100%;

            .section-wrapper {
                height: 100%;
                max-height: 100%;

                .section-column {
                    // This is a column section
                    width: 0;
                    height: 100%;

                    &.section-tabs {
                        .card {
                            height: 100%;
                        }
                    }
                }

                .section-row {
                    // This is a row section
                    width: 100%;
                    height: 0;
                }

                .flex-column {
                    .card-row {
                        // Cards in a column direction are rows
                        height: 0;
                        max-width: 100%;
                        max-height: 100%;
                    }
                }

                .flex-row {
                    .card-column {
                        // Cards in a row direction are columns
                        width: 0;
                        max-width: 100%;
                        max-height: 100%;
                    }
                }
            }
        }
    }
}
