[build-system]
requires = ["setuptools>=42", "setuptools_scm[toml]>=3.4", "wheel"]

# [tool.setuptools_scm]
# root = "../"
# write_to = "python/jupyter_flex/_generated_version.py"

[tool.pytest.ini_options]
norecursedirs = ".git,dist,build,env,venv,.venv"
addopts = "jupyter_flex/tests -s -vv --cov-config=pyproject.toml --cov=jupyter_flex --cov-report term-missing --strict-markers"
markers = [
    "base: marks tests as base (deselect with '-m \"not base\"')",
    "layouts: mark all layout tests",
    "plots: mark all plotting library tests",
    "widgets: marks all widget tests",
    "examples: marks all example tests"
]
filterwarnings = [
    "ignore::DeprecationWarning",
]
# pytest_plugin = ["jupyter_server.pytest_plugin"]

[tool.coverage.report]
omit = ["jupyter_flex/_generated_version.py", "jupyter_flex/tests/*"]

[tool.black]
target-version = ["py37", "py38"]
exclude = '''
(
    asv_bench/env
  | \.egg
  | \.git
  | \.hg
  | \.mypy_cache
  | \.nox
  | \.tox
  | \.venv
  | _build
  | buck-out
  | build
  | dist
  | _generated_version.py
  | node_modules
)
'''

[tool.isort]
# https://black.readthedocs.io/en/stable/the_black_code_style.html#how-black-wraps-lines
multi_line_output = 3
lines_after_imports = 2
force_grid_wrap = 0
include_trailing_comma = "true"
use_parentheses = "true"
line_length = 88
