# Base Python deps
setuptools
setuptools-scm
pylint
flake8
black
isort
twine
wheel
pytest
pytest-cov

# This project pip deps
voila>=0.2.0,<0.3
nbconvert>=6.0.0,<7
nbclient>=0.4.0
jupyter_server>=1.1.0
illusionist>=0.2.0
jupyter-flex>=0.6.4
pytest-html
pytest-needle
pytest-base-url
pytest-selenium
pytest-tornasync

# Examples
notebook
jupyterlab
ipywidgets
numpy
pandas
scipy
matplotlib
scikit-learn
statsmodels
altair
plotly
bqplot
bokeh
jupyter_bokeh
qgrid
ipysheet
ipyleaflet
pandas-datareader
colorlover
vega_datasets

# Docs
mkdocs
mkdocs-material
mkdocs-jupyter>=0.15.0
mkdocs-minify-plugin
pygments
pymdown-extensions
