# Base conda deps
setuptools
setuptools-scm
pylint
flake8
black
isort
twine
wheel
pytest
pytest-cov

# Base pip deps: Docs
mkdocs
mkdocs-material
mkdocs-jupyter
mkdocs-minify-plugin
pygments
pymdown-extensions

# This project pip deps
notebook
jupyterlab
voila<0.2>=0.1.21
nbconvert<6,>=5.5.0
nbclient>=0.4.0
ipywidgets
libsass
pytest-html
pytest-base-url
pytest-selenium
pytest-needle

# This project pip deps: Examples
numpy
pandas
scipy
matplotlib
scikit-learn
statsmodels
altair
plotly
bqplot
bokeh
jupyter_bokeh
qgrid
ipysheet
ipyleaflet
pandas-datareader
colorlover
vega_datasets
