# Base conda deps
setuptools
setuptools-scm
pylint
flake8
black
isort
twine
wheel
pytest
pytest-cov

# Base pip deps: Docs
mkdocs
mkdocs-material
mkdocs-jupyter>=0.14.0
mkdocs-minify-plugin
pygments
pymdown-extensions

# This project pip deps
notebook
jupyterlab
voila>=0.2.0,<0.3
nbconvert>=6.0.0,<7
nbclient>=0.4.0
ipywidgets
libsass
pytest-html
pytest-needle
pytest-base-url
pytest-selenium
pytest-tornasync

# This project pip deps: Examples
numpy
pandas
scipy
matplotlib
scikit-learn
statsmodels
altair
plotly
bqplot
bokeh
jupyter_bokeh
qgrid
ipysheet
ipyleaflet
pandas-datareader
colorlover
vega_datasets
