@charset "UTF-8";

// Color
@import "_color-variables";
@import "_color-classes";

$dark-bg: #2B333E;
$text-color: #676A6C;

body {
    height: 100%;
    font-size: .9rem;
    font-weight: 400;
    line-height: 1.5;
    color: #333;
    text-align: left;
    background-color: #F3F5F8;
}

.loading {
    width: 100%;
    height: 100%;
    display: flex;

    .text-center {
        width: 100%;
        max-width: 720px;
        padding: 15px;
        margin: auto;
        text-align: center;
    }

    p#loading_text {
        margin: 1rem 0;
    }
}

.filetree {
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
    border-radius: 0.25rem;
    background: #FFF;
    padding: 10px;

    h6 {
        color: $text-color;
        margin-bottom: 1rem;
        text-transform: uppercase;
        letter-spacing: .02em;
        font-size: .9rem;
        margin-top: 0;
    }

    .list-group {
        display: flex;
        flex-direction: column;
        border: 1px solid #eef2f7;
        border-radius: 0.25rem;

        .list-group-item {
            border: none;
            border-bottom: 1px solid #eef2f7;
            width: 100%;
            color: #495057;
            text-align: inherit;
            text-decoration: none;
            line-height: 0;

            &:hover {
                text-decoration: none;
                background-color: #f8f9fa;
            }

            &:last-child {
                border-bottom: none;
            }
        }

        i.material-icons {
            font-size: 18px;
            vertical-align: middle;
            margin-right: 5px;
        }
    }

    ul.voila-notebooks {
        margin: 10px 0;
        padding: 0;
        color: $text-color;
        list-style: none;

        li {
            padding: 7px 15px;
            border-bottom: 1px solid #eef2f7;

            &:last-child {
                border-bottom: none;
            }
        }
    }
}

.navbar {
    height: 51px;
    padding: 0;
    z-index: 999;
    background-color: $dark-bg !important;
    color: #FFF;

    .container-fluid {
        padding: .35rem 1rem;
    }

    .logo {
        margin-right: .5rem
    }

    .navbar-brand {
        font-weight: 300;
    }

    ul.navbar-nav {
        .nav-link {
            color: #AEB7C2;

            &:hover {
                color: #FFF;
            }
        }
    }


    i.material-icons {
        font-size: 18px;
        vertical-align: middle;
        margin-right: 5px;
    }
}

#dashboard {
    .content-wrapper {
        padding: 0;
        height: calc(100% - 51px);

        .row {
            width: 100%;
            height: 100%;
            margin: 0
        }
    }

    .global-sidebar {
        background-color: $dark-bg !important;
        color: #FFF;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        z-index: 100;
        padding: 48px 0 0;

        .section {
            width: 100%;
            height: 100%;
            padding: 1.25rem;

            .card {
                box-shadow: none;
                background-color: transparent;
                color: #FFF;
            }

            .card-header {
                background-color: $dark-bg !important;
                color: #FFF;
                padding-left: 0;
                padding-right: 0;
            }

            .card-body {
                padding: 0;
            }

            .output_widget_view, .jupyter-widgets, .widget-label, .widget-readout, .widget-label-basic {
                // NBConvert and voila end up with different structure so we use both

                color: #FFF;

                button {
                    color: #000;
                }

                input {
                    line-height: normal;
                }
            }
        }
    }

    main.page-tabs {
        padding: 0;

        &.tab-content {
            width: 100%;
            height: 100%;
        }
    }
}

.page-wrapper {
    // This is the single page wrapper
    width: 100%;
    height: 100%;
    padding: 1rem;

    .section {
        width: 100%;
        height: 100%;
        border: none;
        border-radius: .25rem;

        &.section-row {
            // This are for orientation=rows
            margin-top: 1rem;

            &:first-child {
                margin-top: 0;
            }

            &:only-child {
                margin: 0;
            }

            + .section-column {
                margin-top: 1rem;
                margin-left: 0;
            }
        }

        &.section-column {
            // This are for orientation=rows -> flex direction=column
            margin-left: 1rem;

            &:first-child {
                margin-left: 0;
            }

            &:only-child {
                margin: 0;
            }

            + .section-row {
                margin-top: 0;
                margin-left: 1rem;
            }
        }

        &.section-tabs {
            box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);

            .nav-bordered {
                border: none;
                border-bottom: 2px solid #d5d5d5;
                background: #FFF;

                li.nav-item {
                    margin-bottom: -2px;

                    a {
                        border: none;
                        background-color: #FFF;

                        &.active {
                            border-bottom: 2px solid #5d78ff;
                        }
                    }
                }
            }

            .tab-content {
                width: 100%;
                height: 100%;
                background-color: #FFF;

                .card {
                    // Cards inside tabs
                    border: none;
                    box-shadow: none;
                }
            }
        }
    }

    .nav-tabs {
        a {
            color: #495057;
        }
    }
}

.card {
    width: 100%;
    height: 100%;
    border: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
    color: $text-color;

    a {
        color: $text-color;
        text-decoration: underline;
    }

    // cards inside a row section
    &.card-row {
        margin-right: 1rem;

        &:last-child {
            margin-right: 0;
        }
    }

    // cards inside a columns section
    &.card-column {
        margin-bottom: 1rem;

        &:last-child {
            margin-bottom: 0;
        }
    }

    .card-header {
        color: $text-color;
        background: #FFF;
        margin-top: 0;
        margin-bottom: 0;
        border: none;
        padding-bottom: 0.5rem;

        h6 {
            text-transform: uppercase;
            font-size: 0.9rem;
            font-weight: 600;
            letter-spacing: .02em;
            margin-bottom: 0px;
        }
    }

    .card-body {
        width: 100%;
        height: 100%;
        flex: 1 1 0;
        overflow: auto;
        padding: .5rem 1.25rem;

        .cell-wrapper {
            width: 100%;
            // height: 100%;

            &.cell-type-code {
                // We create this div.class on the flex template
                width: 100%;
                // height: 100%;
                flex-grow: 1;
            }

            img {
                width: 100%;
                height: 100%;
            }

            svg {
                width: 100%;
                height: 100%;
            }

            .plot-container.plotly .modebar-container svg {
                // Fix plotly toolbar (icons are svgs)
                width: 1em;
                height: 1em;
            }

            .vega-embed {
                width: 100%;
                height: 100%;

                &.has-actions {
                    width: calc(100% - 38px);
                    padding-right: 0;

                    summary {
                        margin-right: -38px;
                    }
                }

                summary svg {
                    // Fix altair toolbar (icons are svgs)
                    width: 14px;
                    height: 14px;
                }
            }

            .q-grid-container{
                .filter-icon{
                    margin-top: 7px;
                }
            }
        }
    }

    .card-footer {
        p:last-child {
            margin-bottom: 0;
        }
    }
}

// Modify default ouput of cells

table.dataframe {
    border: none;
    border-collapse: collapse;
    border-spacing: 0;
    color: #000;
    font-size: 12px;
    table-layout: fixed;
    width: 100%;

    thead {
        border-bottom: 1px solid #000;
        vertical-align: bottom;
    }
    tr, th, td {
        text-align: right;
        vertical-align: middle;
        padding: 0.5em 0.5em;
        line-height: normal;
        white-space: normal;
        max-width: none;
        border: none;
    }
    th {
        font-weight: bold;
    }
    tbody tr:nth-child(odd) {
        background: #f5f5f5;
    }
    tbody tr:hover {
        background: rgba(66, 165, 245, 0.2);
    }
    * + table {margin-top: 1em;}
}

// Plotting libraries

.js-plotly-plot {
    width: 100%;
    height: 100%;
}

.bk-root {
    width: 100%;
    height: 100%;
}

.bqplot {
    width: 100% !important;
    height: 100% !important;
}

// ipywidgets

.jp-OutputArea-output.jupyter-widgets, .output_subarea.output_widget_view  {
    // NBConvert and voila end up with different structure so we use both
    width: 100%;
    // height: 100%;
    margin: 0;

    .widget-container {
        width: 100%;

        .bqplot {
            flex: 1 1 0;
        }

        .widget-inline-hbox {
            flex: 0;
        }

        .widget-inline-vbox {
            flex: 0;
        }
    }

    .widget-inline-hbox {
        width: 98%;
    }

    .widget-play {
        min-height: 28px;
    }
}
