body {
    height: 100%;
    background: #f2f2f2;
}

.loading {
    width: 100%;
    height: 100%;
    display: flex;

    .text-center {
        width: 100%;
        max-width: 720px;
        padding: 15px;
        margin: auto;
        text-align: center;
    }

    p#loading_text {
        margin: 1rem 0;
    }
}

.navbar {
    background-color: #F37626 !important;
    border-bottom: 1px solid #b75925;
    height: 51px;

    .navbar-brand {
        color: #fff;
        font-weight: 300;

        &:hover {
            color: #fff !important;
        }
    }
}

.dashboard-container {
    width: 100%;
    height: calc(100% - 51px);
    padding: 0;

    .sidebar {
        background-color: rgba(39, 128, 227, 0.1);
        border-right: 1px solid #e2e2e2;
        padding: 15px;
    }

    .sections {
        width: 100%;
        height: 100%;
        padding: 0;
    }

    .section {
        width: 100%;
        height: 100%;

        &.section-row {
            padding-bottom: 0.5rem;
            padding-right: 0.5rem;

            &:first-child {
                padding-top: 0.5rem;
                padding-left: 0.5rem;
            }

            &:last-child {
                padding-right: 0;
            }

            &:only-child {
                padding-right: 0.5rem;
            }
        }

        &.section-column {
            padding-bottom: 0.5rem;
            padding-right: 0.5rem;

            &:first-child {
                padding-top: 0.5rem;
                padding-left: 0.5rem;
            }

            &:last-child {
                padding-top: 0.5rem;
            }
        }
    }

}

.card {
    width: 100%;
    height: 100%;

    // Read as cards inside a row section
    &.card-row {
        margin-right: 0.5rem;

        &:last-child {
            margin-right: 0;
        }
    }

    // Read as cards inside a columns section
    &.card-column {
        margin-bottom: 0.5rem;

        &:last-child {
            margin-bottom: 0;
        }
    }

    .card-body {
        padding: 0.5rem;
        width: 100%;
        height: 100%;
    }
}

// Modify default ouput of cells

table.dataframe {
    border: none;
    border-collapse: collapse;
    border-spacing: 0;
    color: #000;
    font-size: 12px;
    table-layout: fixed;
    width: 100%;

    thead {
        border-bottom: 1px solid #000;
        vertical-align: bottom;
    }
    tr, th, td {
        text-align: right;
        vertical-align: middle;
        padding: 0.5em 0.5em;
        line-height: normal;
        white-space: normal;
        max-width: none;
        border: none;
    }
    th {
        font-weight: bold;
    }
    tbody tr:nth-child(odd) {
        background: #f5f5f5;
    }
    tbody tr:hover {
        background: rgba(66, 165, 245, 0.2);
    }
    * + table {margin-top: 1em;}
}

.js-plotly-plot {
    width: 100%;
    height: 100%;
}

.bk-root {
    width: 100%;
    height: 100%;
}
