body {
    height: 100%;
    font-size: .9rem;
    font-weight: 400;
    line-height: 1.5;
    color: #333;
    text-align: left;
    background-color: #fafbfe;
}

.loading {
    width: 100%;
    height: 100%;
    display: flex;

    .text-center {
        width: 100%;
        max-width: 720px;
        padding: 15px;
        margin: auto;
        text-align: center;
    }

    p#loading_text {
        margin: 1rem 0;
    }
}

.filetree {
    box-shadow: 0 0 10px 0 rgba(154, 161, 171, .35);
    border-radius: 0.25rem;
    background: #FFF;
    padding: 10px;

    h6 {
        color: #6c757d;
        margin-bottom: 1rem;
        text-transform: uppercase;
        letter-spacing: .02em;
        font-size: .9rem;
        margin-top: 0;
    }

    .list-group {
        display: flex;
        flex-direction: column;
        border: 1px solid #eef2f7;
        border-radius: 0.25rem;

        .list-group-item {
            border: none;
            border-bottom: 1px solid #eef2f7;
            width: 100%;
            color: #495057;
            text-align: inherit;
            text-decoration: none;
            line-height: 0;

            &:hover {
                text-decoration: none;
                background-color: #f8f9fa;
            }

            &:last-child {
                border-bottom: none;
            }
        }

        i.material-icons {
            font-size: 18px;
            vertical-align: middle;
            margin-right: 5px;
        }
    }

    ul.voila-notebooks {
        margin: 10px 0;
        padding: 0;
        color: #6c757d;
        list-style: none;

        li {
            padding: 7px 15px;
            border-bottom: 1px solid #eef2f7;

            &:last-child {
                border-bottom: none;
            }
        }
    }
}

.navbar {
    height: 51px;
    padding: 0;
    z-index: 999;
    color: #FFF;

    .container-fluid {
        background-color: #373e48 !important;
        padding: .35rem 1rem;
    }

    .logo {
        margin-right: .5rem
    }

    .navbar-brand {
        font-weight: 300;
    }

    i.material-icons {
        font-size: 18px;
        vertical-align: middle;
        margin-right: 5px;
    }
}

.page-tabs {
    &.tab-content {
        // tab-content.page-tabs is the main dashboard container
        width: 100%;
        height: calc(100% - 51px);
    }
}

.page-wrapper {
    // This is the single page wrapper
    width: 100%;
    height: 100%;
    padding: 1rem;

    .sidebar {
        padding: 0;
        margin: 0 1rem 0 0;
        width: 250px;
        max-width: 250px;
        min-width: 250px;

        .card-body {
            overflow-y: auto;
        }
    }

    .page-content {
        width: 100%;
        height: 100%;
        padding: 0;
    }

    .section {
        width: 100%;
        height: 100%;
        border: none;
        border-radius: .25rem;

        &.section-row {
            // This are for orientation=rows
            margin-top: 1rem;

            &:first-child {
                margin-top: 0;
            }

            &:only-child {
                margin: 0;
            }

            + .section-column {
                margin-top: 1rem;
                margin-left: 0;
            }
        }

        &.section-column {
            // This are for orientation=rows -> flex direction=column
            margin-left: 1rem;

            &:first-child {
                margin-left: 0;
            }

            &:only-child {
                margin: 0;
            }

            + .section-row {
                margin-top: 0;
                margin-left: 1rem;
            }
        }

        &.section-tabs {
            box-shadow: 0 0 10px 0 rgba(154, 161, 171, .35);

            .nav-bordered {
                border: none;
                border-bottom: 2px solid rgba(152,166,173,.2);
                background: #FFF;

                li.nav-item {
                    margin-bottom: -2px;

                    a {
                        border: none;
                        background-color: #FFF;

                        &.active {
                            border-bottom: 2px solid #536de6;
                        }
                    }
                }
            }

            .tab-content {
                width: 100%;
                height: 100%;
                background-color: #FFF;

                .card {
                    // Cards inside tabs
                    border: none;
                    box-shadow: none;
                }
            }
        }
    }

    .nav-tabs {
        a {
            color: #495057;
        }
    }
}

.card {
    width: 100%;
    height: 100%;
    border: none;
    box-shadow: 0 0 10px 0 rgba(154, 161, 171, .35);
    color: #6c757d;

    a {
        color: #6c757d;
        text-decoration: underline;
    }

    // cards inside a row section
    &.card-row {
        margin-right: 1rem;

        &:last-child {
            margin-right: 0;
        }
    }

    // cards inside a columns section
    &.card-column {
        margin-bottom: 1rem;

        &:last-child {
            margin-bottom: 0;
        }
    }

    .card-header {
        color: #6c757d;
        background: #FFF;
        margin-top: 0;
        margin-bottom: 0;
        border: none;

        h6 {
            text-transform: uppercase;
            font-size: 0.9rem;
            font-weight: 600;
            letter-spacing: .02em;
            margin-bottom: 0px;
        }
    }

    .card-body {
        padding: .5rem 1.25rem;
        width: 100%;
        height: 100%;
        overflow-x: hidden;
        overflow-y: hidden;

        .code_cell {
            width: 100%;
            height: 100%;
            flex-grow: 1;
        }

        .jp-CodeCell {
            width: 100%;
            height: 100%;
            flex-grow: 1;
        }

        img {
            width: 100%;
            height: 100%;
        }

        svg {
            width: 100%;
            height: 100%;
        }

        .plot-container.plotly .modebar-container svg {
            // Fix plotly toolbar (icons are svgs)
            width: 1em;
            height: 1em;
        }
    }

    .card-footer {


        p:last-child {
            margin-bottom: 0;
        }
    }
}

// Modify default ouput of cells

table.dataframe {
    border: none;
    border-collapse: collapse;
    border-spacing: 0;
    color: #000;
    font-size: 12px;
    table-layout: fixed;
    width: 100%;

    thead {
        border-bottom: 1px solid #000;
        vertical-align: bottom;
    }
    tr, th, td {
        text-align: right;
        vertical-align: middle;
        padding: 0.5em 0.5em;
        line-height: normal;
        white-space: normal;
        max-width: none;
        border: none;
    }
    th {
        font-weight: bold;
    }
    tbody tr:nth-child(odd) {
        background: #f5f5f5;
    }
    tbody tr:hover {
        background: rgba(66, 165, 245, 0.2);
    }
    * + table {margin-top: 1em;}
}

// Plotting libraries

.js-plotly-plot {
    width: 100%;
    height: 100%;
}

.bk-root {
    width: 100%;
    height: 100%;
}

// ipywidgets

.jupyter-widgets {

    .widget-inline-hbox {
        width: 99%;

        input, select {
            width: 100%;
        }

        .slider-container {
            width: 80%;
        }
    }
}
