.md-header[data-md-state=shadow] {
    box-shadow: none;
    transition: none;
}

[data-md-color-primary=orange] .md-header, [data-md-color-primary=orange] .md-hero {
    background-color: #F37626;
}

/* Accent color overwrite */
.md-typeset a{
    color: #F37626 !important;
}

.md-typeset a:hover {
    color: #F37626 !important;
    text-decoration: underline;
}

.md-typeset .superfences-tabs>label:hover {
    color: #F37626 !important;
}

.md-sidebar__scrollwrap::-webkit-scrollbar-thumb:hover {
    background-color:  #F37626;
}

.md-nav__link:focus, .md-nav__link:hover, .md-nav__link:active, .md-nav__link--active, .md-nav__link:active {
    color: #F37626 !important;
}

.md-typeset .codehilite code::-webkit-scrollbar, .md-typeset .codehilite pre::-webkit-scrollbar, .md-typeset .highlight code::-webkit-scrollbar, .md-typeset .highlight pre::-webkit-scrollbar, .highlight.highlight-ipynb pre::-webkit-scrollbar {
    padding-top: 5px;
    height: 0.35rem;
    box-shadow: inset 0 0 10px 10px red;
    border: solid 30px transparent;
}

pre code::-webkit-scrollbar-thumb:hover, .codehilite pre::-webkit-scrollbar-thumb:hover, .highlight.highlight-ipynb pre::-webkit-scrollbar-thumb:hover {
    background-color: #F37626 !important;
}

.md-typeset [id]:target .headerlink {
    color: #F37626 !important;
}
