table code {
    word-break: normal !important;
}

/* Image grid */


.image-grid-row {
    display: flex;
    flex-direction: row;
    margin: 0;
}

figure.image-card {
    display: flex;
    flex-direction: column;
	align-items: center;
    width: 300px;
    margin: 5px;
}

.image-card img {
    margin: auto;
    vertical-align: middle;
}

.image-card figcaption {
    color: #676767;
    font-size: 13px;
    text-align: center;
    margin-top: 10px;
}

/* Terminal */

p.code-header {
    color: #3c3c3c;
    background-color: rgba(219, 219, 219, 0.8);
    margin: 1em 0 -1.2em;
    padding: 0.1em 1em;
    font-size: 0.9em;
    font-family: "Roboto Mono","Courier New",Courier,monospace;
}

pre .code-noselect {
    color: #aaa;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    /* padding-right: 6px; */
}
