@import "../variables.scss";

.card {
    width: 100%;
    height: 100%;
    border: none;
    color: $text-color;

    a {
        color: $text-color;
        text-decoration: underline;
    }

    // cards inside a row section
    &.card-rows {
        margin-right: 1rem;

        &:last-child {
            margin-right: 0;
        }
    }

    // cards inside a columns section
    &.card-columns {
        margin-bottom: 1rem;

        &:last-child {
            margin-bottom: 0;
        }
    }

    .card-header {
        color: $text-color;
        background: #fff;
        margin-top: 0;
        margin-bottom: 0;
        border: none;
        padding-bottom: 0.5rem;

        h6 {
            text-transform: uppercase;
            font-size: 0.9rem;
            font-weight: 600;
            letter-spacing: 0.02em;
            margin-bottom: 0px;
            color: #000;
        }

        .help-button {
            cursor: pointer;
        }

        i.material-icons {
            font-size: 18px;
            vertical-align: middle;
            margin-right: 5px;
        }
    }

    .card-body {
        width: 100%;
        height: 100%;
        flex: 1 1 0;
        // flex: 1 1 auto;
        overflow: auto;
        padding: 0.5rem 1.25rem;

        .cell-wrapper {
            width: 100%;

            &.cell-type-code {
                // We create this div class on the flex template
                width: 100%;
                flex-grow: 1;
            }
        }
    }

    .output {
        pre {
            margin: 8px 0;
        }

        table.dataframe {
            border: none;
            border-collapse: collapse;
            border-spacing: 0;
            color: #000;
            font-size: 12px;
            table-layout: fixed;
            width: 100%;

            thead {
                border-bottom: 1px solid #000;
                vertical-align: bottom;
            }
            tr,
            th,
            td {
                text-align: right;
                vertical-align: middle;
                padding: 0.5em 0.5em;
                line-height: normal;
                white-space: normal;
                max-width: none;
                border: none;
            }
            th {
                font-weight: bold;
            }
            tbody tr:nth-child(odd) {
                background: #f5f5f5;
            }
            tbody tr:hover {
                background: rgba(66, 165, 245, 0.2);
            }
            * + table {
                margin-top: 1em;
            }
        }

        // Plotting libraries

        img:not(.widget-image) {
            width: 100%;
            height: 100%;
        }

        svg {
            width: 100%;
            height: 100%;
        }

        // Plotting libraries
        .js-plotly-plot {
            width: 100%;
        }

        .bk-root {
            width: 100%;
        }

        .js-plotly-plot {
            height: 100%;
        }

        .bk-root {
            height: 100%;
        }

        .bqplot {
            height: 100% !important;
        }

        .bqplot {
            width: 100% !important;
        }

        .plot-container.plotly .modebar-container svg {
            // Fix plotly toolbar icons
            width: 1em;
            height: 1em;
        }

        .vega-embed {
            width: 100%;
            height: 100%;

            &.has-actions {
                width: calc(100% - 38px);
                padding-right: 0;

                summary {
                    margin-right: -38px;
                }
            }

            summary svg {
                // Fix altair toolbar (icons are svgs)
                width: 14px;
                height: 14px;
            }
        }

        .q-grid-container {
            .filter-icon {
                margin-top: 7px;
            }
        }
    }

    .card-footer {
        p {
            font-size: 12px;
        }
        p:last-child {
            margin-bottom: 0;
        }
    }
}
