name: docs

on:
  push:
    branches: [master]
  pull_request_target:

jobs:
  docs:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        python-version: [3.7]

    steps:
      - uses: actions/checkout@v2
      - run: git fetch --prune --unshallow

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install Python dependencies
        run: |
          which python
          which pip
          python --version
          pip --version
          cd python
          python -m pip install --upgrade pip
          pip install -U -r requirements.txt
          pip freeze

      - name: Setup node
        uses: actions/setup-node@v2-beta
        with:
          node-version: "12"

      - name: Install JS dependencies
        run: |
          make npm-install

      - name: Install other dependencies
        run: |
          # Download Bokeh sample data
          bokeh sampledata

      - name: Install package
        run: |
          which python
          which pip
          python --version
          pip --version
          make build
          cd python
          pip install dist/*.tar.gz
          pip freeze

      - name: Build docs
        run: |
          make docs

      - name: Push docs (branch)
        uses: jsmrcaga/action-netlify-deploy@master
        if: github.event_name == 'pull_request_target'
        with:
          NETLIFY_AUTH_TOKEN: ${{ secrets.NETLIFY_AUTH_TOKEN }}
          NETLIFY_SITE_ID: ${{ secrets.NETLIFY_SITE_ID }}
          build_directory: site

      - name: Push docs (master)
        uses: jsmrcaga/action-netlify-deploy@master
        if: (github.event_name == 'push') && endsWith(github.ref, '/master')
        with:
          NETLIFY_AUTH_TOKEN: ${{ secrets.NETLIFY_AUTH_TOKEN }}
          NETLIFY_SITE_ID: ${{ secrets.NETLIFY_SITE_ID }}
          NETLIFY_DEPLOY_TO_PROD: true
          build_directory: site

      - name: Upload docs
        uses: actions/upload-artifact@v1
        if: always()
        with:
          name: docs
          path: site
