name: test

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]
  schedule:
    - cron: "0 5 * * *"
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-18.04

    strategy:
      matrix:
        python-version: [3.7, 3.8, 3.9]
        node-version: ["15"]

    container:
      image: python:3.9.2
      options: --network-alias testhost

    services:
      selenium-hub:
        image: selenium/hub:3.141.59
        ports:
          - 4444:4444
        options: --health-cmd=/opt/bin/check-grid.sh --health-interval=15s --health-timeout=30s --health-retries=5
        volumes:
          - /tmp:/dev/shm

      chrome:
        image: selenium/node-chrome:3.141.59
        env:
          HUB_HOST: selenium-hub
          HUB_PORT: 4444
          SCREEN_WIDTH: 1440
          SCREEN_HEIGHT: 900
        volumes:
          - /tmp:/dev/shm

    env:
      SELENIUM_HUB_HOST: selenium-hub
      SELENIUM_HUB_PORT: 4444
      PYTEST_BASE_URL: http://testhost:8866

    steps:
      - uses: actions/checkout@v2
      - run: git fetch --prune --unshallow

      - name: Setup NodeJS ${{ matrix.node-version }}
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node-version }}

      - name: Install JS dependencies
        run: |
          make npm-install

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}

      - name: Print Python versions
        run: |
          which python
          which pip
          python --version
          pip --version

      - name: Install Python dependencies
        run: |
          cd python
          python -m pip install --upgrade pip
          pip --version
          pip install -U -r requirements-dev.txt
          pip freeze

      - name: Install other dependencies
        run: |
          # Download Bokeh sample data
          bokeh sampledata

      - name: Build package (JS and Python)
        run: |
          make build

      - name: Install package
        run: |
          cd python
          pip install dist/*.tar.gz
          pip freeze

      - name: Check linting
        run: |
          # make check

      - name: Serve Voila
        run: |
          make voila-examples &

      - name: Verify Voila
        run: |
          # ls /__t/Python/3.7.7/x64/share/jupyter/voila/templates
          curl http://localhost:8866/

      - name: Run tests
        if: always()
        run: |
          make test-all
          make report

      - name: Codecov
        uses: codecov/codecov-action@v1
        with:
          file: python/coverage.xml
          fail_ci_if_error: true

      - name: Upload test restuls
        uses: actions/upload-artifact@v1
        if: always()
        with:
          name: test-results
          path: python/test-results
